*{
    font-family: monospace;
    background-color: #1B3C53;
    color: #D2C1B6;
}
body{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 1.7rem;
    background-color: #1B3C53;
    text-align: center;
    padding: 0 50px; 
}
header img{
    width: 170px;
    border-radius: 50%;
    border: 2px solid #D2C1B6   ;
    object-fit: cover;
}
.nome{
    user-select: none;
    flex : 1;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    background-color: #1B3C53;
}
.main-nav{
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 2.5rem;
}
.main-nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
}
.main-nav a:hover{
    background: #234C6A;
    border: 1px;
    transition: .5s;
    border-radius: 5px;
}
.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #1B3C53;
    padding: 10px 20px;
    font-size: 1.3rem;
    border-top: 2px solid #ebeb4e;
    border-image:  linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;;
    border-image-slice: 1;
}
main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: auto;
    font-size: 1.4rem;
    background-color: #1B3C53;
    text-align: center; 
    padding: 40px 60px; 
    line-height: 1.6;
}
footer {
    user-select: none;
    text-align: center;
    padding: 15px 0;
    background-color: #1B3C53;
    border-top: 2px solid #ebeb4e;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;;
    border-image-slice: 1;
    font-size: 1rem;
}
header div.botao-home{
    position: absolute;
    top: 20px;
    left: 20px;
    user-select: none;
}
header div.botao-home a{
    text-decoration: none;
    padding: 1px 6px;
    border-radius: 5px;
    font-size: 3.5rem;   
}
header div.botao-home a:hover{
    background: #234C6A;
    border: 1px;
    transition: .5s;
    border-radius: 5px;
}   
.breve img{
    display: flex;
    width: 30%;
    margin:0px auto;   
    border-radius: 50%;
    padding: 20px;

}
.breve{
    border-top: 2px solid #ebeb4e;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;
    border-image-slice: 1;
    background-color: #1B3C53;
}
.logos{
    border-top: 2px solid #ebeb4e;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;
    border-image-slice: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logos a{
    text-decoration: none;
}
.logos a img{
    padding: 20px;
    width: 100px;
    height: auto;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.logos a img:hover{
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.listaZ{
    font-size: 150%;
    width: 70%;
    margin: 2% auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    user-select: none;
}
.listaZ details {
    padding: auto;
    cursor: pointer;
    transition: background 0.5s;
    user-select: none;
}
.listaZ summary{
    background: #234C6A;
    padding: 1%;
    list-style: none;
    outline-offset: 1px;
    position: relative;
}
.listaZ summary::after {
    padding-right: 1%; 
    content: "▶";
    position: absolute;
    right: 0;
    transition: transform 0.6s;
}
.listaZ details[open] summary::after {
  transform: rotate(90deg);
}
.listaZ details p { 
    padding: 1%;  
    margin-top: 10px;
    line-height: 1.5;
}
.caixa-whats {
    width: 50%;
    margin: 60px auto;
    padding: 30px;
    text-align: center;
    background-color: #1B3C53;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    border-top: 2px solid #D2C1B6;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;
}

.caixa-whats textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: 2px solid #D2C1B6;
    border-radius: 8px;
    background-color: #234C6A;
    color: #D2C1B6;
    font-family: monospace;
    font-size: 1rem;

    transition: all 0.3s ease;
}
.caixa-whats textarea{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.caixa-whats textarea:focus {
    outline: none;
    border-color: #D2C1B6;
    box-shadow: 0 0 10px black;
}

.caixa-whats button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #234C6A;
    color: #D2C1B6;
    border: 2px solid #D2C1B6;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.caixa-whats button:hover {
    background-color: #326083;
    border-color: #D2C1B6;
}

