*{
    font-family: monospace;
    background-color: #1B3C53;
    color: #D2C1B6;
}
body{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-size: 1.7rem;
    background-color: #1B3C53;
    text-align: center;
    padding: 0 50px; 
}
header img{
    width: 170px;
    border-radius: 50%;
    border: 2px solid #D2C1B6   ;
    object-fit: cover;
}
.nome{
    user-select: none;
    flex : 1;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    background-color: #1B3C53;
}
.main-nav{
    display: flex;
    flex-direction: column;
    user-select: none;
    font-size: 2.5rem;
}
.main-nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
}
.main-nav a:hover{
    background: #234C6A;
    border: 1px;
    transition: .5s;
    border-radius: 5px;
}
.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #1B3C53;
    padding: 10px 20px;
    font-size: 1.3rem;
    border-top: 2px solid #ebeb4e;
    border-image:  linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;;
    border-image-slice: 1;
}
main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: auto;
    font-size: 1.4rem;
    background-color: #1B3C53;
    text-align: center; 
    padding: 40px 60px; 
    line-height: 1.6;
}
footer {
    user-select: none;
    text-align: center;
    padding: 15px 0;
    background-color: #1B3C53;
    border-top: 2px solid #ebeb4e;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;;
    border-image-slice: 1;
    font-size: 1rem;
}
header div.botao-home{
    position: absolute;
    top: 20px;
    left: 20px;
    user-select: none;
}
header div.botao-home a{
    text-decoration: none;
    padding: 1px 6px;
    border-radius: 5px;
    font-size: 3.5rem;   
}
header div.botao-home a:hover{
    background: #234C6A;
    border: 1px;
    transition: .5s;
    border-radius: 5px;
}   
.breve img{
    display: flex;
    width: 30%;
    margin:0px auto;   
    border-radius: 50%;
    padding: 20px;

}
.breve{
    border-top: 2px solid #ebeb4e;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;
    border-image-slice: 1;
    background-color: #1B3C53;
}
.logos{
    border-top: 2px solid #ebeb4e;
    border-image: linear-gradient(90deg, transparent 0%, #7C8194 50%, transparent 100%) 1;
    border-image-slice: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logos img{
}
.logos a{
    text-decoration: none;
}
.logos a img{
    padding: 20px;
    width: 100px;
    height: auto;
}
